.audienceReach {
  flex: 2.3;
  margin-right: 32px;
  padding: 24px;
  background: #fdfdff;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 13px;
}

.header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.header h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.selectDate {
  cursor: pointer;
  margin-right: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.selectDate img {
  margin-left: 3px;
  padding: 5px;
}

.checkbox {
  margin-right: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}

.checkbox img {
  margin-right: 6px;
}

.graph {
  width: 100%;
}
