.peopleCardContainer {
  margin-top: 35px;
  margin-bottom: 32px;
  display: flex;
}

.peopleCard {
  padding: 24px;
  margin-right: 32px;
  flex: 1;
  box-sizing: border-box;
  border-radius: 13px;
}

.peopleCard:last-child {
  margin-right: 0;
}

.row {
  justify-content: space-between;
  margin-bottom: 37px;
}

.row:nth-child(2) {
  margin-bottom: 0;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.dots {
  padding: 10px;
  padding-right: 0;
  cursor: pointer;
}

.people {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.percents {
  margin-right: 9px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #979797;
}
