@font-face {
  font-family: Gilroy;
  src: url(fonts/gilroy-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Gilroy;
  src: url(fonts/gilroy-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Gilroy;
  src: url(fonts/gilroy-semiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url(fonts/gilroy-bold.ttf);
  font-weight: 700;
}
